<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel App</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css">
</head>
 <body>
<div id = "app">
  <div class ="holder headline"></div>
  Travel App   </div>
  <div class ="holder ">
    <label for="zip">Destination </label>
    <input type="text" id="city" placeholder="enter a city"required>
  </div>
  <br />
  <div class ="holder">
    <label for="departing">Departing date</label>
    <input type="date" id="departing" placeholder="Departing date" required>
    <br />
  </div>
  <div class="holder">
    <label for="returning">Returning date</label>
    <input type="date" id="returning" placeholder="Returning date" required>
  </div>
  <br />
  <div class="holder">
    <button id="generate" type="submit">Check</button>
  </div>
</form>
<!-----end of the form -->






<footer >
  <p>&copy Udacity   </p>
  <p>Eman Abo Alsoud July 2020</p>  
</footer>
<script src="app.js" type="text/javascript"></script>
</body>
</html>  
